
//字体设置
$font-48 = 48px
$font-36 = 36px
$font-24 = 24px
$font-20 = 20px
$font-18 = 18px
$font-16 = 16px
$font-14 = 14px
$font-12 = 12px


$clr-black-1 = #303133
$clr-black-2 = #606266
$clr-black-3 = #909399
$clr-black-4 = #C0C4CC

$clr-black-5 = #DCDFE6
$clr-black-6 = #E4E7ED
$clr-black-7 = #EBEEF5
$clr-black-8 = #F2F6FC

$clr-white = #ffffff
$clr-blue = #409EFF
